name: Deploy to Firebase Hosting 'stage' channel

on:
  push:
    branches:
      - stage

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: ${{ secrets.GITHUB_TOKEN }}
          firebaseServiceAccount: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_GEN_LANG_CLIENT_0569713327 }}
          projectId: gen-lang-client-0569713327
          channelId: stage
        env:
          FIREBASE_CLI_EXPERIMENTS: webframeworks
